<h1>Add New HSC User - Reactive Form</h1>
<div class="page-header">
  <h3>User Details</h3>
</div>
<div class="row">
  <div class="">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="user-name">USER NAME *</label>
        <input type="text" id="user-name" class="form-control" formControlName="userName">
        <!-- Si solo pongo #userNameControl va a hacer referencia al elemento HTML. en cambio si lo asocio al ngModel. Esto me permite por ejemplo usarlo en un if-->
        <ng-container *ngIf="!userName.valid && userName.touched">
          <p class="error-message" *ngIf="userName.errors!.required"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field is required!</p>
          <p class="error-message" *ngIf="userName.errors!.email"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> This field should has an email format!</p>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="user-status">USER STATUS *</label>
        <select id="user-status" required class="form-control" formControlName="status">
          <option [value]="status" *ngFor="let status of possibleStatus">{{status}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="first-name">FIRST NAME *</label>
        <input type="text" id="first-name" class="form-control" formControlName="firstName">
        <ng-container *ngIf="!firstName.valid && firstName.touched">
          <p class="error-message" *ngIf="firstName.errors!.required"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field is required!</p>
          <p class="error-message" *ngIf="firstName.errors!.startsWithCapital"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field should start with capital
            letter!
          </p>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="last-name">LAST NAME *</label>
        <input type="text" id="last-name" class="form-control" formControlName="lastName">
        <ng-container *ngIf="!lastName.valid && lastName.touched">
          <p class="error-message" *ngIf="lastName.errors!.required"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field is required!</p>
          <p class="error-message" *ngIf="lastName.errors!.startsWithCapital"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field should start with capital
            letter!
          </p>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="last-name">DISPLAY NAME *</label>
        <input type="text" id="last-name" class="form-control" formControlName="displayName">
        <ng-container *ngIf="!displayName.valid && displayName.touched">
          <p class="error-message" *ngIf="displayName.errors!.required"> <span class="glyphicon glyphicon-alert"
              aria-hidden="true"></span> this field is required!</p>
        </ng-container>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="allow-manage-hsc-users"
          formControlName="allowManageHSCUsers">
        <label class="form-check-label" for="allow-manage-hsc-users">ALLOW MANAGE HSC USERS</label>
      </div>
      <a (click)="resetForm()" class="">Clear</a>

      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add User</button>
    </form>
  </div>
</div>

<pre>{{userForm.value | json}}</pre>
<pre>{{userForm.status | json}}</pre>
<!-- <p>{{userNameControl.className}}</p> -->
