@import url("./../node_modules/bootstrap/dist/css/bootstrap.css");

.ng-invalid:not(form).ng-touched {
  border-color: red;
}

.ng-valid:not(form).ng-touched {
  border-color: rgb(127, 243, 127);
}

.error-message {
  color: red;
}
