@import url("./../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./../node_modules/ag-grid-community/dist/styles/ag-grid.css");
@import url("./../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css");

.ng-invalid:not(form).ng-touched {
  border-color: red;
}

.ng-valid:not(form).ng-touched {
  border-color: rgb(127, 243, 127);
}

.error-message {
  color: red;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mx-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}
